* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(to right, #1d232c, #4b596e);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
    transition: background 0.3s;
}

.navbar:hover {
    background: linear-gradient(to right, #4b596e, #1d232c);
}

.navbar h1 {
    color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.navbar-links li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.navbar-menu-toggle {
    display: none;
    color: aliceblue;
}

.side-navbar {
    background-color: #1d232c;
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 20px;
    color: white;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    z-index: 1
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links li {
    list-style-type: none;
}

.side-navbar-link a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 15px;
    display: block;
    transition: background 0.3s, color 0.3s;
}

.side-navbar-link a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    padding: 50px;
    gap: 50px;
    background: linear-gradient(to right, #1d232c, #4b596e);
    color: white;
    line-height: 80px;
}

.header-video {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
.collection-video {
    display: block; /* Ensures video is a block element */
    margin: 20px auto; /* Adds vertical space outside the video and centers it horizontally */
    width: 60%; /* Decrease the width to make the video smaller */
    max-width: 800px; /* Optional: Limits the maximum width */
    height: auto; /* Maintains the aspect ratio */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}
.header-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4b596e;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.header-button:hover {
    background-color: #1d232c;
}

.service {
    padding: 60px 20px;
    /* Spacious padding */
    background-color: #f7f9fca6;
    /* Light gray background */
    border-radius: 15px;
    /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.20);
    /* Deep shadow for elevation */
    text-align: center;
    /* Center align text */
}

.service h2 {
    font-size: 30px;
    /* Larger heading */
    margin-bottom: 40px;
    /* Space below the heading */
    color: #2b2d42;
    /* Dark color for contrast */
    font-weight: bold;
    /* Bold font */
}

.service-container-1 {
    display: flex;
    justify-content: space-around;
    /* Even spacing */
    align-items: flex-start;
    /* Align items to the top */
    margin-bottom: 40px;
    /* Space between sections */
}

.service-container-1 div {
    flex-basis: 28%;
    /* Flexible width for each service */
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
    /* Spacious padding */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    /* Position for emoji */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-container-1 div:hover {
    transform: translateY(-5px);
    /* Lift effect on hover */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    /* Darker shadow on hover */
}

.service-container-1 div .emoji {
    font-size: 60px;
    /* Increased emoji size */
    display: block;
    /* Block display for alignment */
    margin-bottom: 15px;
    /* Space between emoji and text */
    transition: transform 0.3s;
    /* Smooth emoji animation */
}

.service-container-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
}

.service-container-2 div {
    flex-basis: 40%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.service-container-2 div:hover {
    transform: translateY(-3px);
    /* Slight lift effect */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Darker shadow on hover */
}

.service-container-2 div .emoji {
    font-size: 50px;
    /* Increased emoji size */
    display: block;
    /* Block display for alignment */
    margin-bottom: 10px;
    /* Space between emoji and text */
}

/* Add colors to emojis */
.emoji {
    color: #f9004d;

}


.new-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 23%;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.new-arrival-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.new-arrival button {
    padding: 10px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background 0.3s;
}

.new-arrival-container:hover button {
    background-color: #1d232c;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
}

.news input {
    padding: 11px;
    margin-top: 10px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid 3px #1d232c;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.news input:focus {
    border-color: #4b596e;
    outline: none;
}

.news button {
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.news button:hover {
    background-color: #4b596e;
}

.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: white;
    line-height: 30px;
    text-align: center;
}

.product-section {
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Container for search and video */
.search-video-container {
    display: flex; /* Use flexbox for horizontal layout */
    align-items: center; /* Center align items vertically */
}

/* Video */
.collection-video {
    width: 150px; /* Adjust width as needed */
    height: 200px; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between video and search bar */
   border-radius: 50px;
   object-fit: cover;
}

/* Search */
.product-search {
    flex: 1; /* Make the search bar take the remaining space */
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%; /* Full width */
}

.product-search input:focus {
    outline: none;
}

.product-search button {
    background: none;
    border: none;
    cursor: pointer;
}

.products {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Creates flexible columns */
    gap: 20px; /* Space between grid items */
    justify-items: center; /* Centers items within their grid cells */
}

.products-box {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Optional: for hover effects */
}

.products-box img {
    border-radius: 10px;
    width: auto;
    max-height: 200px;
    object-fit: cover; /* Cover to maintain aspect ratio without distortion */
}

.products-box p {
    font-weight: bold;
    margin-top: 10px;
}

/* Optional: Add hover effect for product boxes */
.products-box:hover {
    transform: scale(1.05); /* Slightly enlarges the box on hover */
}






.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-box1 {
    margin-bottom: 20px;
}

.footer-icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}


/* locations */
.container{
max-width: 1200px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
border-radius: 10px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Title */
.container h1 {
text-align: center;
font-size: 36px;
color: #f9004d;
margin-bottom: 20px;
}

/* Flexbox layout for map and details */
.location-details {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

/* Map Section */
.map {
flex: 1;
min-width: 300px; /* Minimum width for responsiveness */
margin-right: 20px;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Location info section */
.info {
flex: 1;
min-width: 300px; /* Minimum width for responsiveness */
background-color: #f9f9f9;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Address details */
.info h2 {
font-size: 28px;
color: #333;
margin-bottom: 10px;
}

.info p {
margin: 5px 0;
line-height: 1.6;
}

.info .contact {
margin-top: 20px;
}

.info .contact i {
color: rgb(22, 212, 212);
margin-right: 10px;
}

.btn {
    display: inline-block;
    background-color: #4b596e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1d232c;
}

@media screen and (max-width: 600px) {
    .new-arrival-container {
        flex-basis: 45%;
    }


    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }


    .header {
        flex-direction: column;
        align-items: center;
        line-height: 50px;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 1.2rem;
    }

    .header-button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .header-video {
        margin-left: 10%;
        width: 80%;
        /* Adjusts the width for mobile */
        height: auto;
        /* Keeps the aspect ratio */
    }
    .search-video-container {
        flex-direction: column-reverse; /* Stack items vertically on smaller screens */
         align-items: flex-start; /* Align items to the start */
    }
    .product-search{
        width: 100%;
    }

    .collection-video {
        width: 100%; /* Full width for the video */
        margin-right: 0; /* Remove margin */
        margin-bottom: 10px; /* Add space below the video */
        height: 300px;
        object-fit: cover;
    }
    .service-container-1 div h2 {
        font-size: 1.5rem;
    }

    .service-container-2 {
        flex-direction: column;
    }
    .location-details {
        flex-direction: column;
    }

    .map {
        margin-right: 0;
        margin-bottom: 20px;
    }
}